@font-face {
  font-family: Norse-Bold;
  src: url(./fonts/Norse-Bold.otf);
}
* {
  /* font-family: Norse-Bold, sans-serif; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url(./images/max-bender-iF5odYWB_nQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 35vw;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 65vw;
}

.right-first {
  height: 25vh;
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 600px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.right-second {
  background-color: white;
  height: 33vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.right-third {
  height: 33vh;
}

.form-main-div {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  width: 60%;
  justify-content: center;
  margin-left: 5px;
}

.form-headline {
  margin-top: 20px;
  margin-left: 70px;
}

.form-div {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  margin-bottom: 10px;
}

.form-divs-left {
  margin-left: 5px;
}

.form-divs-right {
  margin-left: 100px;
  margin-right: 120px;
}

.form-heading {
  margin-left: -20px;
  margin-top: 50px;
}

input {
  width: 200px;
  border: 1px solid #e5e7eb;
  height: 25px;
  border-radius: 5px;
}
